# Model files
/models/*
# ignore all files except .txt files
!/models/**/*.txt

# ignore output folders
/*_outputs

/PGraphRAG/*
!/PGraphRAG/*.txt

# Wheel files
/wheels/*.whl

# IDE files
.idea

# Environment variables
.env

# Database
*.db

# Training data
/train
!/train/*.txt